.border-countries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.2rem;
  margin-top: 4rem;
}

.border-countries__title {
  font-size: 1.6rem;
  font-weight: 600;
}

.border-countries__container {
  display: flex;
  flex-flow: row wrap;
  gap: .8rem;
  max-width: 40rem;
}

.border-countries__container__country {
  padding: 0 2rem;
  background-color: var(--background-color-elements);
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .border-countries{
    flex-direction: column;
  }
  .border-countries__container {
    max-width: 30rem;
  }
}