:root,
:root.light {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 300;


  --blue-dark: hsl(209, 23%, 22%);
  --blue-darker: hsl(207, 26%, 17%);
  --black-main: hsl(200, 15%, 8%);
  --grey-dark: hsl(0, 0%, 52%);
  --grey-lighter: hsl(0, 0%, 98%);
  --white-main: hsl(0, 0%, 100%);

  --color-text: var(--black-main);
  --app-background-color: var(--grey-lighter);
    --background-color-elements: var(--white-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--white-main);
    --app-background-color: var(--blue-darker);
    --background-color-elements: var(--blue-dark);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
  }
  
  body {
    color-scheme: light dark;
    background-color: var(--app-background-color);
}

ul, li, section, p, h1, h2, h3, article {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-main)
}

.app-container {
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
}